<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Formulario_EdCastillo.Properties.Settings.Formulario_EDCastillToroConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Formulario_EDCastillToro;User ID=edu;Password=eduardo"
            providerName="System.Data.SqlClient" />
        <add name="Formulario_EdCastillo.Properties.Settings.Formulario_EDCastillToroConnectionString1"
            connectionString="Data Source=EDUARDOPC;Initial Catalog=Formulario_EDCastillToro;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>